body {
    background-color: #c0dff1;
}
span {
    font-size: 100px;
    color: black;
}

h1 {
    text-align: center;
    color: blue;
}
p.centrado:hover {
    text-align: center;
    color: blue;
    background-color: yellow;
}
p.primera::first-line {
    color: red;
}
a:link {
    background-color: white;
}
a.apple:visited {
    background-color: blue;
    color: white;
}
h3 {
    counter-reset: productos;
}
p.productos::before {
    content: counter(productos);
    counter-increment: productos;
}

p.imagen {
    float: right;
}
img {
    height: 350px;
}
p.pie {
    font-style: oblique;
}